#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  border: 1.5px solid black;
  background-color: aquamarine;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.5);
}

td {
  border: 1.5px solid black;
  background-color: pink;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.App div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

input {
  width: 10%;
  height: 24px;
  margin: 10px;
  border-radius: 10px;
  border-color: darkgrey;
}

button {
  margin: 10px;
  width: 16%;
  height: 30px;
  border-radius: 10px;
  border-radius: 10px;
}